
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;  
  /* height: 100%; */
  box-sizing: border-box;
}

body {
  /* overflow-x: hidden; */
  height: 100% !important;
  width: 100% !important;
}

.react-container {
  /* position: relative; */
  /* background: gray; */
}

.lang_button {
  /* background-color: hsl(24, 72%, 52%); */
  background-color: hsl(24, 99%, 62%);
  /* border: 1px solid black; */
  border-radius: 15px;
  box-shadow: 0 9px #999;
  /* width: 138%;
  height: 130%; */
  width: 120%;
  /* height: 20% !important; */
  padding: .2rem 1rem;

}

.lang_button:hover {
  border-bottom: #000000 0.120em solid;
  cursor: pointer;
}

#make_gray {
  background: #DCDCDC !important;
}

/* .fixed-top {
  background: gray !important;
} */

.mr-auto {
  width: 100% !important;
  display: flex !important;
  text-align: center !important;
  padding-left: 5%;
  
}

.navbar {
  background: #DCDCDC !important;
  width: 100% !important;
  z-index: 1 !important;
  padding: 1rem 1rem !important;
}

.home-link {
  font-size: 138%;
  color: black !important;
  margin-left: 4%;
}

.home-link:hover {
  text-decoration: underline !important;
}

.consulting-link {
  font-size: 138%;
  color: black !important;
  margin-left: 10%;
}

.consulting-link:hover {
  text-decoration: underline;
}

.dropdown {
  margin-left: 11% !important;
}

#basic-nav-dropdown {
  font-size: 138%;
  color: black;
  margin: 0;
}

.dropdown:hover {
  text-decoration: underline;
}

.clientPortfolio-link {
  font-size: 138%;
  color: black !important;
  margin-left: 14%;
}

.clientPortfolio-link:hover {
  text-decoration: underline !important;
} 


/*                                ABOUT US SECTION                   */
.about-me {
  position: absolute;
  top: 16%;
  left: 1%;
  width: 98%;
  height: 69%;
  background: hsl(215, 44%, 40%); 
  z-index: -1;
}

.who {
  position: absolute;
  left: 5%;
  top: 4%;
  width: 28%;
  height: 90%;
  border: .2vw solid white;
}

.who-title {
  position: absolute;
  top: 4%;
  width: 100%;
  height: 10%;
  color: white;
  text-align: center;
  font-size: 160%;
}

.who-p {
  position: absolute;
  color: white;
  top: 20%;
  margin: 3%;
  font-size: 110%;
}

.what-table {
  position: absolute;
  left: 36%;
  top: 4%;
  width: 28%;
  height: 90%;
  border: .2vw solid white;
}

.what-title {
  position: absolute;
  top: 4%;
  width: 100%;
  height: 10%;
  color: white;
  text-align: center;
  font-size: 160%;
}

.what-p {
  position: absolute;
  color: white;
  top: 20%;
  margin: 3%;
  font-size: 110%;
}

.what-done {
  position: absolute;
  left: 67%;
  top: 4%;
  width: 28%;
  height: 90%;
  border: .2vw solid white;

}

.d-title {
  position: absolute;
  top: 4%;
  width: 100%;
  height: 10%;
  color: white;
  text-align: center;
  font-size: 160%;
}

.d-p {
  position: absolute;
  color: white;
  top: 20%;
  margin: 3%;
  font-size: 110%;
}

/*                  Companies On HomePage Section       */

.home-clients {
  position: absolute;
  top: 90%;
  left: 1%;
  width: 98%;
  height: 96%;
  background: hsl(0, 0%, 93%) !important;
  z-index: -1;
}

.home-client-title {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 3.2%;
  
}

.zip-container{
  position: absolute;
  left: 1%;
  top: 21%;
  width: 22%;
  height: 20%;
}

.ja-container{
  position: absolute;
  left: 26%;
  top: 21%;
  width: 22%;
  height: 20%;
}

.jin-container{
  position: absolute;
  left: 50%;
  top: 21%;
  width: 22%;
  height: 20%;
}

.semantic-container{
  position: absolute;
  left: 74%;
  top: 21%;
  width: 22%;
  height: 20%;
}

.talkbox-container{
  
}

.h1-container{
  
}

.bms-container{
  
}

.equities-container{
  
}







.home-blog {
  position: absolute;
  top: 190%;
  left: 1%;
  background: lightblue;
  width: 98%;
  height: 66%;
}




  body * {
    /* border: 1px solid red; */
  }
  
  
