
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;  
  /* height: 100%; */
  box-sizing: border-box;
}

/* @media only screen and (max-width: 768px) {
  .who-p {
    font-size: 10px;
  }
} */

/* html{
  background-image: url('../public/passport.jpg');
  z-index: -1;
} */

body {
  /* overflow-x: hidden; */
  height: 100% !important;
  width: 100% !important;
  max-width: 100%;
  overflow-x: hidden;
}

.react-container {
  /* position: relative; */
  /* background: gray; */
}

.lang_button {
  /* background-color: hsl(24, 72%, 52%); */
  background-color: hsl(24, 99%, 62%);
  /* border: 1px solid black; */
  border-radius: 15px;
  box-shadow: 0 9px #999;
  /* width: 138%;
  height: 130%; */
  width: 120%;
  /* height: 20% !important; */
  padding: .2rem 1rem;

}

.lang_button:hover {
  border-bottom: #000000 0.120em solid;
  cursor: pointer;
}

#make_gray {
  background: #DCDCDC !important;
}

/* .fixed-top {
  background: gray !important;
} */

.mr-auto {
  width: 100% !important;
  display: flex !important;
  text-align: center !important;
  padding-left: 5%;
}

.navbar {
  background: #DCDCDC !important;
  width: 100% !important;
  z-index: 1 !important;
  padding: 1rem 1rem !important;
  /* line-height: 1.5 !important; */
}

.home-link {
  font-size: 138%;
  color: black !important;
  margin-left: 4%;
  letter-spacing: .05em;

}

.home-link:hover {
  text-decoration: underline !important;
}

.consulting-link {
  font-size: 138%;
  color: black !important;
  margin-left: 10%;

}

.consulting-link:hover {
  text-decoration: underline;
}

.dropdown {
  margin-left: 11% !important;
  letter-spacing: .05em;

}

#basic-nav-dropdown {
  font-size: 138%;
  color: black;
  margin: 0;
  letter-spacing: .05em;

}

.dropdown:hover {
  text-decoration: underline;
}

.clientPortfolio-link {
  font-size: 138%;
  color: black !important;
  margin-left: 14%;
  letter-spacing: .05em;

}

.clientPortfolio-link:hover {
  text-decoration: underline !important;
} 


/*                                ABOUT US SECTION                   */
.about-me {
  display: flex;
  position: absolute;
  top: 16%;
  left: .5%;
  width: 99%;
  height: 69%;
  background: hsl(215, 44%, 34%); 
  z-index: -1;
  /* left: 6%;
  top: 26%;
  
  transform: translate(-4%, -20%); */
}

.who {
  
  display: flex;
  flex: 1;
  position: absolute;
  left: 5%;
  top: 4%;
  width: 28%;
  height: 90%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  overflow: auto;
  border: .2vw solid white;
}

.who-title {
  /* display: flex; */

  position: absolute;
  top: 4%;
  width: 100%;
  height: 10%;
  color: white;
  text-align: center;
  font-size: 160%;
}

.who-p {
  /* display: flex; */

  position: absolute;
  color: white;
  top: 19%;
  margin: 3%;
  font-size: 110%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;

}

.what-table {
  display: flex;
  flex: 1;
  position: absolute;
  left: 36%;
  top: 4%;
  width: 28%;
  height: 90%;
  border: .2vw solid white;
  overflow: auto;

}

.what-title {
  position: absolute;
  top: 4%;
  width: 100%;
  height: 10%;
  color: white;
  text-align: center;
  font-size: 160%;
}

.what-p {
  position: absolute;
  color: white;
  top: 19%;
  margin: 3%;
  font-size: 110%;
}

.what-done {
  /* display: flex; */
  flex: 1;
  position: absolute;
  left: 67%;
  top: 4%;
  width: 28%;
  height: 90%;
  border: .2vw solid white;
  overflow: auto;

}

.d-title {
  position: absolute;
  top: 4%;
  width: 100%;
  height: 10%;
  color: white;
  text-align: center;
  font-size: 160%;
}

.d-p {
  position: absolute;
  color: white;
  top: 19%;
  margin: 3%;
  font-size: 110%;
}


.passport_gavel {
  position: absolute;
  left: .5%;
  top: 86%;
  width: 99%;
  height: 112.9%;
}

/*                  Companies On HomePage Section       */

.home-clients {
  position: absolute;
  top: 200%;
  left: .5%;
  width: 99%;
  height: 96%;
  background: hsl(0, 0%, 93%) !important;
  z-index: -1;
}

.home-client-title {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 3.2%;
  
}

.cool_logo {
  width: 30%;
  height: 40%;
}

.home-blog {
  position: absolute;
  top: 298%;
  left: .5%;
  background: lightblue;
  width: 99%;
  height: 88%;
  overflow: auto;
}

.user_form {
  position: absolute;
  top: 2%;
  left: 2%;
}

#message {
  width: 330% !important;
}



.zip-container{
  position: absolute;
  left: 1%;
  top: 21%;
  width: 22%;
  height: 20%;
}

.ja-container{
  position: absolute;
  left: 26%;
  top: 21%;
  width: 22%;
  height: 20%;
}

.jin-container{
  position: absolute;
  left: 50%;
  top: 21%;
  width: 22%;
  height: 20%;
}

.semantic-container{
  position: absolute;
  left: 74%;
  top: 21%;
  width: 22%;
  height: 20%;
}

.talkbox-container{
  
}

.h1-container{
  
}

.bms-container{
  
}

.equities-container{
  
}

.map-section {
  position: absolute;
  top: 418%;
  left: .5%;
  background: hsl(120, 25%, 85%);
  width: 99%;
  height: 66%;
  /* display: flex;
  justify-items: center;
  align-items: center; */
  /* display: flex;
  align-content: center;
  align-items: center;
  margin: auto; */
}

.GMap_Copy {
  position: absolute;
  background: lightyellow;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 93%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactInfo {
  position: absolute;
  top: 490%;
  background: hsl(215, 44%, 20%); 
  width: 100%;
  height: 16%;
}

.info1 {
  color: white;
  position: absolute;
  font-size: 140%;
  font-weight: bold;
  letter-spacing: .1em;
  left: 50%;
  top: 7%;
  transform: translate(-50%, 7%);
  display: flex;
  justify-content: center;
}

.info2 {
  color: white;
  position: absolute;
  font-size: 120%;
  font-weight: bold;
  letter-spacing: .1em;
  left: 8%;
  top: 78%;
  transform: translate(-8%, -78%);
  display: flex;
  justify-content: center;
}

.info3 {
  color: white;
  position: absolute;
  font-size: 120%;
  font-weight: bold;
  letter-spacing: .1em;
  left: 62%;
  top: 78%;
  transform: translate(-62%, -78%);
  display: flex;
  justify-content: center;
}

.info4 {
  color: white;
  position: absolute;
  font-size: 120%;
  font-weight: bold;
  letter-spacing: .1em;
  left: 90%;
  top: 78%;
  transform: translate(-90%, -78%);
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.bold_word {
  /* font-size: 120%; */
  font-size: 100%;
}







  body * {
    /* border: 1px solid red; */
  }
  
  
