
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;  
  /* height: 100%; */
  box-sizing: border-box;
}

/* @media only screen and (max-width: 768px) {
  .who-p {
    font-size: 10px;
  }
} */

/* html{
  background-image: url('../public/passport.jpg');
  z-index: -1;
} */

body {
  /* overflow-x: hidden; */
  height: 100% !important;
  width: 100% !important;
  max-width: 100%;
  overflow-x: hidden;
}

.react-container {
  /* position: relative; */
  /* background: gray; */
}


  body * {
    /* border: 1px solid red; */
  }
  
  
