html { 
    /* background-image: url('../sampleBooks.jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    /* filter: brightness(110%);
    opacity: 0.85; */
    /* background-blend-mode: screen; */
  }
    
  body {
    margin: 0;
    overflow: hidden;
  }
    
  @font-face {
    font-family: hkGrotesk;
    src: url('fonts/HKGrotesk-Regular.otf');
  }

  @font-face {
    font-family: lato;
    src: url('fonts/Lato-Regular.ttf');
  }

  .container {
    width: 80%;
    margin: 0 auto;
  }

  header {
    /* 0F52BA */
    background: rgb(62, 96, 190);
    filter: brightness(110%);
    opacity: 0.85;
    height: 100px;
}

  header::after {
    content:'';
    display: table;
    clear: both;
  }

  nav {
    float: none;
    position: relative;
    text-align: center;        
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  nav li {
    display: inline-block;
    margin-left: 30px;
    padding-top: 25px;
    padding-left: 0;
  }

  nav a {
    float: left;
    color: #000000 ;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-family: hkGrotesk;
    padding: 1px;   
    letter-spacing: 2px;  
  }

  #divBackground {
    /* background-image: url('../sampleBooks.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 50%;
    filter: brightness(110%);
    opacity: 0.85; 
    background-blend-mode: screen; */
    float: left;
    height: 526px;
    width: 100%;
    filter: brightness(0.89) invert(0);
    opacity: 0.5;
  }

  #coolLogo {
    position: absolute;
    top:15px;
    right: 65px;
    width: 100px;
    height: 70px;
    cursor: pointer;
    /* left83px;
    cursor: pointer;
    width: 10%;
    height: 80%; */
  }

  #coolLogo:hover {
    border-bottom: #000000 0.125em solid;
  }

  #logo{
    position:fixed;
    top:14px;
    left:53px;
    cursor: pointer;
    width: 10%;
    height: 9%;
    font-family: hkGrotesk;
    font-size: 165%;
  }

  #logo:hover {
    border-bottom: #000000 0.125em solid;
    cursor: pointer;
  }

  /* button {
    text-decoration: none;
    font-family: hkGrotesk;
    font-size: 15px;
    color: #F7F7F7 ;
    padding: 10px 22px;
    border-radius: 30px;
    margin-top: 1px;
    margin-right: 2px;
    position: absolute;
    top:12px;
    right:100px;
  } */

  .boxArrow {
    position:fixed;
    top:25px;
    right:32px;
    filter: brightness(110%);
    opacity: 0.85;
  }

  section {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 510px; 
    height: 130px;
    background: rgb(62, 96, 190);
    filter: brightness(110%);
    opacity: 0.85;
  }

  #Layer_1 {
    filter: brightness(100%);
    opacity: 0.85;
    position: fixed;
    bottom: -20%;
  }

  #words{
    letter-spacing: 3px;
    position:fixed;
    bottom:-10px;
    left: 390px;
    font-family: hkGrotesk;
    color: #000000;
    font-size: 40px;
  }

  /* button:hover {
    cursor: pointer;
  } */

  .middle-left {
    position: absolute;
    color: #000000;
    bottom: 120px;
    left: 90px;
    font-family: hkGrotesk;
    font-size: 30px;
  }
   
  nav a:hover {       
    text-decoration: none;
    border-bottom: #000000 0.125em solid;
    cursor: pointer;
  }      